.navigation {
    text-align: center;
    overflow: hidden;
    background-color: rgb(175, 173, 170);
    border-radius: 0px 0px 15px 15px;
}

.navigation__list {
    font-weight: 900;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation__item {
    display: inline;
}

.navigation__link {
    color: #6c4335;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

.navigation__link:visited {
    color: rgb(62, 78, 34);
}

.navigation__link:hover {
    color: rgb(54, 53, 53);
}